<div class="footer-widget" style="background-color: #67fc00">
    <div class="container">
        <div class="footer-widget-wrap">
            <div class="row">
                <div class="footer-widget-col col-md-3 col-sm-6">
                    <div>
                        <div class="textwidget" style="padding-top: 10%;">
                            <p>
                                <img src="assets/images/football01.png" alt="" style="width: 40%;">
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a href="https://www.facebook.com/YewaleAmruttulya/" title="Facebook" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="https://twitter.com/amruttulya?lang=en" title="Twitter" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" title="Google+" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="https://www.instagram.com/yewale_amruttulya/" title="Instagram" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="footer-widget-col col-md-3 col-sm-6">
                    <div>
                        <h3><span>Website Map</span></h3>
                        <div class="textwidget">
                            <p> <a href="about-us.html">About us</a></p>
                           <!-- <p><a href="#">ध्येय विचार</a></p>-->
                            <p><a href="quality.html">Quality</a></p>
                            <p><a href="media.html">Media</a></p>
                            <!--<p><a href="#">मान्यवरांचे अभिप्राय </a></p>-->
                             <p><a href="contactus.html">Contact us </a></p>
                        </div>
                    </div>
                </div>
                
                <div class="footer-widget-col col-md-3 col-sm-6">
                    <div>
                        <h3><span>Get in touch</span></h3>
                        <div class="textwidget">
                            <p><i class="fa fa-phone"></i> +91 11111 11111</p>
                            <p><i class="fa fa-envelope"></i> <a href="mailto: gunners@gmail.com"> gunners@gmail.com</a></p>
                            <p><i class="fa fa-globe"></i> www.gunners.com</p>
                        </div>
                    </div>
                </div>
                <div class="footer-widget-col col-md-3 col-sm-6">
                    <div>
                        <h3><span>Address</span></h3>
                        <div class="textwidget">
                            <p><i class="fa fa-map-marker"></i> Emirates Stadium, LONDON</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>