<section class="py-5">
    <div class="container">
      <div class="column col-md-12">
        <div class="container">
            <div class="row">
                <div class="column col-md-8 col-sm-8">
                   
                    <div class="empty-space-40"></div>
                </div>
                <div class="column col-md-4 col-sm-4">
                    
                    <div class="empty-space-40"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="column col-md-8 col-sm-8">
                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    Your Name (required)<br>
                                    <span class="form-control-wrap">
                                        <input type="text" name="your-name" size="40" class="form-control">
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Your Email (required)<br>
                                    <span class="form-control-wrap">
                                        <input type="email" name="your-email" size="40" class="form-control">
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    Subject<br>
                                    <span class="form-control-wrap">
                                        <input type="text" name="your-subject" size="40" class="form-control">
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    Your Message<br>
                                    <span class="form-control-wrap">
                                        <textarea name="your-message" cols="40" rows="6" class="form-control textarea"></textarea>
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-12">
                                <p>
                                    <button type="button" class="btn btn-primary">Send</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column col-md-4 col-sm-4">
                    <div class="text-block">
                        <p><strong>Address:</strong></p>
                        <p>Emirates Stadium, LONDON</p>
                        <p><strong>Email: </strong></p>
                        <p><a href="mailto:gunner@gmail.com">gunner@gmail.com</a></p>
                        <p><strong>Phone: </strong></p>
                        <p>+91 1111 1111</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
  </section>

