.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #67fc00;
}

.nav-link {
    color: #0000fff6!important;
    font-size: large;
    padding-right: 30px!important;
}

.navbar-brand{
    font-style: italic;
    font-size: xx-large;
}
