<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">GUNNERS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home">HOME
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/first-component">BRANCHES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/media">MEDIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>